/*基础文件 除common样式表文件外 其他样式文件依赖此文件内的变量*/
/*间距*/
/*圆形 颜色  宽高*/
.align_items_cen {
  align-items: center;
  -webkit-box-align: center;
}
/*定位*/
.pos_r {
  position: relative;
}
/*边框属性*/
.border_bot_b {
  border-bottom: 1px solid #BBB;
}
.border_bot_d {
  border-bottom: 1px solid #ddd;
}
.border_top_d {
  border-top: 1px solid #ddd;
}
.border_bot_c {
  border-bottom: 1px solid #ccc;
}
.border_right_d {
  border-right: 1px solid #ddd;
}
.bor_bot_97 {
  border: 1px solid #979797;
}
.margin_top_08 {
  margin-top: 0.8rem;
}
.margin_bot_08 {
  margin-bottom: 1rem;
}
.mar_bot_105 {
  margin-bottom: 1.05rem;
}
/*flex布局*/
.box_flex {
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
}
.justify-end {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
}
/*弹出层容器*/
/*填充三角符号*/
/*按钮*/
/*背景属性*/
.bg_f4 {
  background: #f4f4f4;
}
.bg_f8 {
  background: #f8f8f8;
}
.bg_color_fb {
  background: #fbfbfb;
}
.font-weight_6 {
  font-weight: 600;
}
.border_ccc {
  border: 1px solid #ccc;
}
.text_align_r {
  text-align: right;
}
.message_num {
  display: inline-block;
  width: 0.44rem;
  height: 0.44rem;
  border-radius: 50%;
  background: #F43459;
  vertical-align: middle;
  text-align: center;
  line-height: 0.44rem;
  color: #fff;
  font-size: 0.26rem;
}
/*固定导航*/
.nav_bar {
  color: #333;
  font-size: 0rem;
  width: 100%;
  text-align: center;
  line-height: 1rem;
  border-bottom: 1px solid #BBB;
  padding: 0rem 0.2rem;
  box-sizing: border-box;
  position: fixed;
  -webkit-transform: translateZ(0);
  z-index: 9;
  top: 0;
  background: #f8f8f8;
}
.nav_bar .to_fill_order {
  display: inline-block;
  font-size: 0.32rem;
  vertical-align: middle;
}
/*支付信息*/
.summary_money {
  font-size: 0.3rem;
  border-top: 0.04rem solid #ff6d7e;
  background: #fff;
  position: fixed;
  bottom: 1rem;
  left: 0rem;
  width: 100%;
}
.summary_money .summary_con {
  padding: 0.2rem;
}
.summary_money .summary_left {
  line-height: 0.4rem;
}
/*固定底部*/
.shopping_footer {
  padding: 0rem 0.2rem;
  width: 100%;
  box-sizing: border-box;
  height: 1rem;
  background: #333;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  font-size: 0.28rem;
  -webkit-transform: translateZ(0);
}
.shopping_footer .icon_shopping_cart_1 {
  position: absolute;
  top: 0.2rem;
  height: 0.6rem;
}
.shopping_footer .icon_shopping_cart_1 img {
  width: 0.58rem;
  height: auto;
}
.shopping_footer .icon_shopping_cart_1 .icon_go_back_cart {
  width: 0.56rem;
  margin-top: 0.04rem;
}
.shopping_footer .icon_shopping_cart_1 .message_num {
  position: absolute;
  top: -0.05rem;
  left: 0.45rem;
}
.shopping_footer .icon_shopping_cart_1 img {
  vertical-align: middle;
}
.shopping_footer .icon_shopping_cart_1 .goback_cart {
  color: #fff;
  vertical-align: middle;
  margin-top: 0.08rem;
  display: inline-block;
  font-size: 0.30rem;
}
.shopping_footer .icon_shopping_cart_1 .icon_back {
  width: 0.32rem;
  height: 0.32rem;
  margin-right: 0.01rem;
}
.shopping_footer .icon_shopping_cart_1 .goback_cart {
  margin-top: 0.10rem;
}
.shopping_footer .into_cart_btn span {
  font-size: 0.3rem;
}
.shopping_footer .into_cart_btn:active {
  opacity: 0.8;
}
.shopping_footer .icon_into_shopping_cart {
  width: auto;
  height: 0.7rem;
  vertical-align: middle;
  margin-right: 0.1rem;
}
/*底部导航itme*/
.nav_bot_list {
  width: 100%;
  overflow: hidden;
  color: #888;
  position: absolute;
}
.nav_bot_list li {
  font-size: 0;
  float: left;
  width: 33.33%;
  text-align: center;
  border-top: 0.1rem solid #333;
}
.nav_bot_list li a span {
  line-height: 0.9rem;
  display: inline-block;
  font-size: 0.3rem;
  vertical-align: middle;
}
.nav_bot_list li.cur_nav {
  border-top: 0.1rem solid #F43459;
  color: #fff;
}
.nav_bot_list .bot_nav_icon {
  width: 0.44rem;
  height: 0.44rem;
  vertical-align: middle;
  margin-right: 0.06rem;
}
.bg_fb {
  background: #FBFBFB;
  padding: 0.1rem 0.2rem;
  height: 0.6rem;
}
.bg_fb p {
  color: #F43459;
}
.bor_color_6 {
  border: 1px solid #666;
}
.order_money_change {
  text-align: right;
  color: #fff;
  font-size: 0.3rem;
  position: fixed;
  bottom: 1rem;
  left: 0rem;
  background: #333;
  width: 100%;
  padding: 0.2rem 0.2rem 0rem 0.2rem;
  box-sizing: border-box;
  line-height: 0.42rem;
}
.fix_bot_16 {
  bottom: 1.6rem !important;
}
/*input输入框*/
.fill_other {
  border-bottom: 1px solid #ddd;
  padding: 0.19rem 0.2rem;
  background: #fff;
  font-size: 0;
}
.no_fill {
  border: 1px solid #cecece;
  font-size: 0.3rem;
  box-sizing: border-box;
  padding: 0.14rem 0.15rem;
  background: #f8f8f8;
  outline: 0;
  box-shadow: none;
}
.fill_other_input {
  border: 1px solid #cecece;
  font-size: 0.3rem;
  box-sizing: border-box;
  padding: 0.14rem 0.15rem;
  background: #f8f8f8;
  outline: 0;
  box-shadow: none;
  width: 100%;
  border-radius: 5px;
}
.triangle_left {
  padding-left: 0.28rem;
  position: relative;
  left: 0;
  top: 0;
}
.triangle_left:before {
  content: "";
  position: absolute;
  left: 0;
  top: 29%;
  width: 0;
  border-color: #333 transparent transparent transparent;
  border-width: 0.19rem 0.11rem;
  border-style: solid;
}
/*支付方式*/
.pay_way_wrap {
  position: fixed;
  width: 100%;
  z-index: 60;
  bottom: 1rem;
  background: #fff;
  box-sizing: border-box;
  border-top: 0.04rem solid #ff6276;
}
.pay_way_wrap input[type='radio'] {
  display: none;
}
.pay_way_wrap .font-weight_6 {
  text-align: right;
  font-size: 0.32rem;
}
.pay_way_wrap .alipay {
  font-size: 0.3rem;
}
.pay_way_box {
  padding: 0.19rem 0.2rem;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  align-items: center;
}
.icon_alipay_wecheat {
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.15rem;
}
.shopping_cart_tit {
  align-items: center;
  -webkit-box-align: center;
  font-weight: normal;
  height: 0.9rem;
  box-sizing: border-box;
  padding: 0.1rem 0.2rem;
  background: #fff;
  border-bottom: 1px solid #ccc;
}
.shopping_cart_tit .shop_brand_logo {
  height: 0.7rem;
  width: auto;
  margin-right: 0.1rem;
  vertical-align: middle;
}
.wid_btn {
  display: block;
  line-height: 0.7rem;
  width: 100%;
  background: #FF4D6b;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  font-size: 0.3rem;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  transition: all 0.3s ease;
}
.wid_btn:active {
  opacity: 0.8;
}
/*设置默认地址滑动动画*/
@keyframes changeBg {
  from {
    background: #f8f8f8;
    border: 0.01rem solid rgba(117, 12, 12, 0.1);
  }
  to {
    background: #ff6d7e;
    border: 0.03rem solid #ff6d7e;
  }
}
@-moz-keyframes changeBg {
  /* Firefox */
  from {
    background: #f8f8f8;
    border: 0.01rem solid rgba(117, 12, 12, 0.1);
  }
  to {
    background: #ff6d7e;
    border: 0.03rem solid #ff6d7e;
  }
}
@-webkit-keyframes changeBg {
  /* Safari 和 Chrome */
  from {
    background: #f8f8f8;
    border: 0.01rem solid rgba(117, 12, 12, 0.1);
  }
  to {
    background: #ff6d7e;
    border: 0.03rem solid #ff6d7e;
  }
}
@-o-keyframes changeBg {
  /* Opera */
  from {
    background: #f8f8f8;
  }
  to {
    background: #ff6d7e;
  }
}
.box_vertical {
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
.pad_10 {
  padding: 0rem 0.2rem;
}
.pad_10 .web_code {
  top: 0;
}
.pad_10 .code_input_box {
  top: 0;
}
.pad_10 .code_input_box a:nth-child(1) {
  margin-left: 0;
}
.btn_wrap {
  background: #fff;
  padding: 0rem 0 0 0.2rem;
  text-align: center;
}
.calc_btn {
  position: absolute;
  font-size: 0.3rem;
  border-radius: 5px;
  top: 0.15rem;
  right: 0.1rem;
  text-align: center;
  width: 1.3rem;
  line-height: 0.8rem;
  color: #fff;
  background: #FF4D6b;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  transition: all 0.3s ease;
}
.calc_btn_disabled {
  opacity: 0.6;
}
.calc_btn:active {
  opacity: 0.8;
}
.err_input {
  border: 1px solid #ff6276 !important;
}
.err_input::-webkit-input-placeholder {
  color: #F43459 !important;
}
.order_wrap .order_list:first-child {
  border-top: none;
}
/*订单列表 商品描述文字样式*/
.merch_main_img {
  width: 1.7rem;
  height: 1.7rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-right: 0.2rem;
  position: relative;
}
.merch_main_img img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.right_merch_text .font-weight_6 {
  margin: 0.08rem 0;
  font-size: 0.30rem;
  line-height: 0.42rem;
}
/*订单状态*/
.order_static_wrap {
  margin-top: 0.15rem;
  padding: 0.04rem 0rem;
  line-height: 0.36rem;
  background: #f6f6f6;
}
.order_static_wrap .order_static .font_size_25 {
  display: inline-block;
  vertical-align: middle;
}
.order_static_wrap .icon_rect {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.1rem;
  margin-left: 0.15rem;
  width: 0.22rem;
  height: 0.22rem;
  background: url(../images/icon_rect_pink.png) center no-repeat;
  background-size: 100% auto;
}
.order_static_wrap .icon_rect_gray {
  background: url(../images/icon_rect_gray.png) center no-repeat;
  background-size: 100% auto;
}
.order_static_wrap .icon_rect_black {
  background: url(../images/icon_rect_black.png) center no-repeat;
  background-size: 100% auto;
}
.err_con {
  margin-top: 4rem;
  text-align: center;
}
.err_con .font_size_30 {
  line-height: 0.42rem;
}
.err_con .back_retest {
  font-size: 0.3rem;
  margin-top: 0.3rem;
  border-radius: 5px;
  display: inline-block;
  width: 3rem;
  height: 0.7rem;
  background: #FF4D6b;
  color: #fff;
  text-align: center;
  line-height: 0.7rem;
}
/*二级固定导航*/
.sec_top_nav {
  width: 100%;
  z-index: 10;
  overflow: hidden;
  background: #fff;
  font-size: 0.28rem;
  text-align: center;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 1rem;
}
.sec_top_nav li {
  float: left;
  width: 33.33%;
  position: relative;
  background: #fff;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  transition: all 0.3s ease;
}
.sec_top_nav li:active {
  background: #f5f5f5;
}
.sec_top_nav li a {
  display: block;
  line-height: 0.8rem;
}
.sec_top_nav .bot_hr {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.05rem;
  background: transparent;
}
.sec_top_nav li.cur_order .bot_hr {
  background: #FF4D6b;
}
.sec_top_nav .right_icon {
  width: 0.12rem;
  height: 0.24rem;
  position: absolute;
  top: 0.28rem;
  right: 0;
}
.sec_top_nav .left_icon {
  right: auto;
  left: 0;
}
/*注册登录 导航*/
.user_top_nav {
  background: #fbfbfb;
}
.user_top_nav li {
  width: 50%;
}
.user_top_nav li a {
  line-height: 0.9rem;
  font-size: 0.3rem;
}
/*注册登录布局*/
.pos_height_190 {
  background: #fff;
  position: absolute;
  top: 1.9rem;
  left: 0;
  height: 85%;
  width: 100%;
  border-top: 1px solid #ccc;
}
.pos_height_100 {
  background: #fff;
  position: absolute;
  top: 1rem;
  left: 0;
  height: 85%;
  width: 100%;
  border-top: 1px solid #ccc;
}
/*登录 盒子*/
.user_login_wrap {
  background: #fff;
  padding: 0.5rem;
}
.user_login_wrap .login_input {
  margin-bottom: 0.3rem;
  /*.send_again {
      width: 3.4rem;
      margin-left: 0.2rem;
      background: @color_pink_ff62;
      font-size: 0.3rem;
      color: #fff;
      text-align: center;
      padding: 0.14rem 0rem;
      border-radius: 5px;
    }*/
}
.user_login_wrap .login_input .veri_img {
  width: 2.1rem;
  height: 0.7rem;
  margin-left: 0.2rem;
}
.user_login_wrap .forget_pas_link {
  display: block;
  text-align: right;
  font-size: 0.3rem;
  text-decoration: underline;
  color: #0079ff;
}
.user_login_wrap .login_btn {
  background: #333333;
  color: #fff;
  margin-top: 0.4rem;
  font-size: 0.31rem;
}
.user_login_wrap .register_btn {
  margin-top: 0.5rem;
}
.user_login_wrap .disabled_btn {
  background: rgba(51, 51, 51, 0.6);
}
.s_list_box {
  font-size: 0.28rem;
  display: block;
  line-height: 0.59rem;
  padding: 0.15rem 0.2rem;
  background: #fff;
  border-bottom: 1px solid #eee;
}
.s_list_box .icon_right {
  float: right;
  margin-top: 0.155rem;
}
/*修改地址*/
.change_address:first-child {
  border-top: none;
}
.change_address {
  background: #fff;
  border-top: 1px solid #ccc;
  padding: 0.2rem;
  box-sizing: border-box;
}
.change_address a.to_shop_detail {
  font-size: 0.30rem;
  text-align: right;
  position: relative;
  color: #0079ff;
  text-decoration: underline;
  margin-top: 0.1rem;
  display: inline-block;
}
.change_address a.to_shop_detail:after {
  right: -0.4rem;
  top: 56%;
  margin-top: -0.13rem;
  border-color: transparent transparent transparent #0079ff;
  border-width: 0.11rem 0.12rem;
  border-style: solid;
}
/*个人信息输入*/
.user_address_name {
  font-size: 0.28rem;
}
.user_address_name .font_size_30 {
  margin-bottom: 0.1rem;
}
.user_address_name p {
  line-height: 0.4rem;
}
.user_address_name p span {
  color: #FF4D6b;
}
.user_address_name .fill_other_input {
  margin-top: 0.1rem;
}
.user_address_name .no_phone {
  border: 1px solid #ff6276;
}
.user_address_name .no_phone::-webkit-input-placeholder {
  color: #F43459;
}
.user_address_name .wid_btn {
  background: #ff6276;
  font-size: 0;
}
.user_address_name .dis_inline_block {
  line-height: 0.7rem;
  font-size: 0.3rem;
}
.user_address_name .font-weight_6 {
  display: inline-block;
  line-height: 0.42rem;
}
/*用户地址盒子模型*/
.user_addresses_wrap {
  border-top: 1px solid #ccc;
}
.user_addresses_wrap .user_address_box {
  background: #fff;
  align-items: center;
  padding: 0.2rem;
}
.user_addresses_wrap .user_address_box input[type='radio'] {
  display: none;
}
.user_addresses_wrap .cart_opera_list li {
  width: 50%;
}
.user_address_con {
  font-size: 0.28rem;
}
.user_address_con h4 .dis_inline_block {
  line-height: 0.42rem;
  margin-right: 0.15rem;
}
.user_address_con .circle_rect {
  width: 1.3rem;
  height: 0.4rem;
  background: #FF4D6b;
  color: #fff;
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 0.24rem;
  line-height: 0.42rem;
  border-radius: 2px;
}
.user_address_con .mar_top_5 {
  line-height: 0.4rem;
}
.chosed_address {
  background: #f6f6f6;
}
/*个人信息盒子模型*/
.buyer_name {
  background: #fff;
  color: #333;
  box-sizing: border-box;
  width: 100%;
  padding: 0.24rem 0.2rem;
  font-size: 0.3rem;
  border: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  word-break: break-all;
}
.buyer_name::-webkit-input-placeholder {
  color: #888;
}
.buyer_name::-webkit-textarea-placeholder {
  color: #888;
}
textarea.buyer_name {
  resize: none;
  overflow: hidden;
}
.address_tips {
  background: #f4f4f4;
  padding: 0.1rem 0.2rem;
  color: #666;
  -webkit-text-size-adjust: none;
  font-size: 0.26rem;
  line-height: 0.37rem;
}
.address_tips .font_size_30 {
  margin-bottom: 0.05rem;
}
.base_info {
  padding: 0.2rem 0rem 0rem;
}
.base_info .area_live {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 0.2rem;
}
.base_info .flex_width {
  color: #888;
  font-size: 0.3rem;
}
.pad_top_30 {
  padding-top: 0.3rem;
}
.scan_example {
  font-size: 0.28rem;
  color: #0079ff;
  position: absolute;
  right: 0.2rem;
  top: 0.26rem;
  text-decoration: underline;
}
.upfile_card_wrap {
  background: #fff;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
  padding: 0.2rem 0rem 0.24rem;
}
/*上传证件*/
.upfile_card_list {
  width: 5.4rem;
  margin: 0 auto;
  overflow: hidden;
}
.upfile_card_list li {
  float: left;
  width: 2.4rem;
  font-size: 0.24rem;
  color: #666;
  text-align: center;
  position: relative;
}
.upfile_card_list li:first-child {
  margin-right: 0.6rem;
}
.upfile_card_list input[type="file"] {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 2.4rem;
  height: 1.6rem;
  z-index: 1;
  opacity: 0;
}
.upfile_card_list li.card_err .id_card {
  border: 1px solid #ff6276;
  background: #f8f8f8 url(../images/icon_carmal_pink.png) center no-repeat;
  background-size: 0.7rem auto;
}
.upfile_card_list li.card_err .up_side {
  background: #ff6276;
  color: #fff;
}
/*省份证示例*/
.id_card {
  position: relative;
  width: 2.4rem;
  height: 1.6rem;
  margin-bottom: 0.08rem;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  background: #f8f8f8 url(../images/icon_carmal_gray.png) center no-repeat;
  background-size: 0.7rem auto;
  padding: 0.1rem;
}
.id_card .del_btn {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 6px;
  background: #333;
  opacity: 0.8;
  top: 0.1rem;
  left: 0.1rem;
  z-index: 9;
}
.id_card .del_btn img {
  width: 0.2rem;
  height: 0.2rem;
  margin: 0.15rem 0 0 0.15rem;
}
.id_card img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-height: 1.58rem;
}
.selct_area {
  position: relative;
}
.selct_area .icon_right {
  position: absolute;
  top: 0.32rem;
  right: 0.2rem;
}
.up_side {
  background: #f4f4f4;
  line-height: 0.36rem;
}
.sel_other_company {
  font-size: 0.28rem;
  line-height: 0.59rem;
  padding: 0.15rem 0.2rem;
  border-bottom: 1px solid #ccc;
  background: #fff;
  align-items: center;
}
.sel_other_company .sel_other_company_btn {
  display: inline-block;
  text-align: right;
  background: #ffe4e8;
  color: #F43459;
  padding: 0 0.23rem;
  border-radius: 5px;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  transition: all 0.3s ease;
}
.sel_other_company .sel_other_company_btn:active {
  opacity: 0.8;
}
.on_off_btn {
  width: 1.02rem;
  height: 0.62rem;
  box-sizing: border-box;
  border-radius: 0.4rem;
  border: 0.03rem solid #e5e5e5;
  background: #f8f8f8;
  position: relative;
}
.on_off_btn .on_off_circle {
  position: absolute;
  width: 0.56rem;
  height: 0.56rem;
  border: 0.01rem solid rgba(117, 12, 12, 0.1);
  background: #fff;
  border-radius: 50%;
  top: 0rem;
  left: 0rem;
  box-sizing: border-box;
  box-shadow: 0 0.06rem 0.03rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.open_static .on_off_btn {
  animation: changeBg 0.3s ease forwards;
  -webkit-animation: changeBg 0.3s ease forwards;
  -moz-animation: changeBg 0.3s ease forwards;
  -o-animation: changeBg 0.3s ease forwards;
}
.open_static .on_off_btn .on_off_circle {
  border: 0.01rem solid rgba(129, 33, 33, 0.1);
  transform: translateX(0.4rem);
  -webkit-transform: translateX(0.4rem);
  -moz-transform: translateX(0.4rem);
  -o-transform: translateX(0.4rem);
}
.card_wrap {
  padding: 0.2rem 0.45rem;
  background: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.card_tips {
  color: #F43459;
  line-height: 0.4rem;
  font-size: 0.28rem;
}
.the_card_block .front_side_card {
  font-size: 0.3rem;
  line-height: 0.42rem;
  font-weight: normal;
  margin-top: 0.2rem;
  margin-bottom: 0.1rem;
  position: relative;
}
.the_card_block .front_side_card:after {
  left: 1.6rem;
  top: 30%;
  border-color: #333 transparent transparent transparent;
  border-width: 0.2rem 0.12rem;
  border-style: solid;
}
.the_card_block .card_img_box {
  border: 1px solid #999;
  padding: 0.1rem;
  box-sizing: border-box;
  max-width: 720px;
}
.the_card_block .card_img_box img {
  width: 100%;
  height: auto;
}
